.cartForm__form {
    width: 100%;
    max-width: 20rem;
    margin: 0.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: ; */
}

.buttons {
    margin: 1rem 0 2rem 0;
    display: flex;
    justify-content: flex-end;
}

.buttons button {
    font-weight: 500;
    padding: 0.55rem 2rem;
}

.buttons__confirm {
    margin-left: 1rem;
    border: 1px solid var(--veryDarkBrown);
    background-color: var(--veryDarkBrown);
}

.buttons__confirm:hover {
    background-color: var(--darkBrown);
    border-color: var(--darkBrown);
}

.buttons__cancel {
    background-color: transparent;
    border-color: transparent;
    color: var(--veryDarkBrown);
    box-shadow: none;
}

.buttons__cancel:hover {
    background-color: #ef541739;
}