.cartButton {
    font-size: 0.9rem;
    background-color: #4D1601;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartButton:hover .cartButton_counter {
     background-color: #8A2B06;
    
}

.cartButton:hover {
    background-color: #371102;
}

.cartButton_img {
    width: 1.6rem;
    margin-right: 0.55rem;
}

.cartButton_counter {
    padding: 0.3rem 0.9rem;
    margin-left: 1rem;
    background-color: #B94517;
    border-radius: 30px;
}

@media screen and (max-width: 768px) {
    .cartButton {
        padding: 0.4rem 1rem;
    }
}