.main {
    /* margin: 0 2rem; */
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.cardInfo {
    /* position: absolute; */
    /* top: 0%; */
    /* left: 0%; */
    /* transform: translate(0, -70%); */
    width: 90%;
    position: relative;
    margin-top: -10rem;
    max-width: 45rem;
    background-color: #383838;
    text-align: center;
}

.cardInfo > * {
    margin: 1rem 0;
}

.cardInfo__title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}



@media screen and (max-width: 500px ) {
  .cardInfo {
        margin-top: -15rem;
    }
}