.inputForm__input {
    /* max-width: 10rem; */
    font-size: 1rem;
    height: 1.8rem;
    border: 1px solid rgba(164, 164, 164, 0.644);
    border-radius: 5px;
}

.inputForm__input:focus {
    border: 1px solid rgb(102, 62, 11); 
    background-color: rgba(255, 221, 170, 0.274);

}

.invalid {
    border: 1px solid rgb(240, 6, 6); 
    background-color: rgba(255, 231, 231, 0.274);
}


.inputForm__label {
    font-weight: bold;
}